body{
   background-image: url("Photo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.text{
    padding-left: 10px;
    padding-top:50px ;
    font-size: 85px;
    /* padding-left: 2%; */
}
a{
    padding-top: 5px;
    text-align: center;
    color:white;
    height: 30px;
    width: 150px;
    font-size: 20px;
    text-decoration-color : rgb(250, 37, 37);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5PX;
    text-decoration: none;
    
    
}
.set{
    box-shadow: 50px;
    border-color: rgb(14, 13, 13);
    background-color: rgb(15, 14, 14);
    border-radius:5px ;
    margin-top: 3%;
    margin-left: 3%;
}
